html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(253, 228, 255);
  background: linear-gradient(
    0deg,
    rgba(253, 228, 255, 1) 0%,
    rgba(124, 156, 254, 1) 100%
  );
}

.controlKeys{
  position: absolute;
  width: 25%;
  left: 10%;
  bottom: 10%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
